extends ../layout

block content
	.content.content-alt
		.container
			.row
				.col-md-8.col-md-offset-2
					.card
						.page-header
							h1 Early Testing
						p
							| DataJoy is currently free while we're testing the concept.
							| We hope to always offer a free version that anyone can use,
							| but that comes with limited storage space and compute power.
							| We expect to have a paid plan at around $20/month with 'unlimited'
							| resources (or at least large enough that it's never an issue for anyone with a genuine
							| use case.) Please get in touch if you have any questions.